<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>




  <!-- <div *ngIf="isLoading" class="spinner-overlay">
    <div class="spinner"></div>
  </div> -->



  <!-- <div id="loader" class="loader" *ngIf="isLoading">
    <div class="loading-message">
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> Loading...
    </div>
  </div> -->

<div class="background-effect">

  <table style="width: 100%; background: linear-gradient(to top, #09203f 0%, #537895 100%);">
    <tbody>
      <tr>
        <td style="width: 8%; padding: 10px 0px 17px 25px;" align="left"></td>
        <td style="text-align: center; padding: 20px; width: 90%">
          <table style="width: 100%">
            <tbody>
              <tr>
                <td>
                  <label style="color: white; vertical-align: middle; font-family: Arial; font-weight: bolder; font-size: 20px;">
                    IMD Rainfall Information System (iRAINS)
                  </label>
                </td>
              </tr>
              <tr>
                <td>
                  <label style="color: white; vertical-align: middle; font-family: Arial; font-weight: bolder; font-size: 18px;">
                    Hydromet Division
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
        <td>
          <div class="button">
            <button class="Back" (click)="goBack()">Back</button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="navbar">
    <div class="col-1">
      <input type="date" class="form-control" [ngModel]="selectedDate | date: 'yyyy-MM-dd'" (ngModelChange)="selectedDate = $event">
    </div>
    <div class="col-1 mt-2">
      <button class="btn btn-success" type="button" (click)="backend()">Submit</button>
    </div>
    <div class="col-1 mt-1">
      <button class="btn btn-success" (click)="exportToExcel()">Download Excel</button>

    </div>
  </div>
  
  <div style="text-align: center; padding-top: 40px">
    <div class="dataentry">
      <div class="row">
        <div class="col-12">
          <h3>STATIONS DATA</h3>
        </div>
      </div>
      <br />
      <form>
        <table style="margin: auto; border-collapse: collapse; width: 90%; border: 1px solid black;">
          <thead>
            <tr>
              <th style="border: 1px solid black" rowspan="2">S.NO</th>
              <th style="border: 1px solid black" rowspan="2">MC or RMC</th>
              <th style="border: 1px solid black" rowspan="2">TOTAL STATIONS</th>
              <th style="border: 1px solid black" colspan="2">UPDATES</th>
              <th style="border: 1px solid black" colspan="2">VERIFICATIONS</th>
            </tr>
            <tr>
              <th style="border: 1px solid black">UPDATED STATIONS</th>
              <th style="border: 1px solid black">NOT UPDATED STATIONS</th>
              <th style="border: 1px solid black">VERIFIED STATIONS</th>
              <th style="border: 1px solid black">NOT VERIFIED STATIONS</th>
            </tr>
          </thead>
          <tbody *ngIf="filteredMCorRMCSArray && filteredMCorRMCSArray.length > 0">
            <tr *ngFor="let MCorRMC of filteredMCorRMCSArray; let i = index">
              <td style="border: 1px solid black">{{ i + 1 }}</td>
              <td style="border: 1px solid black">
                {{ MCorRMC.name }}
              </td>
              <td style="border: 1px solid black">
                {{ MCorRMC.data['Total_Stations'] }}</td>
              <td style="border: 1px solid black">
                <button type="submit" class="enter" (click)="submit('isUpdated', MCorRMC.name)">{{ MCorRMC.data['isUpdated'] }}</button>
              </td>
              <td style="border: 1px solid black">
                <button type="submit" class="enter" (click)="submit('isNotUpdated', MCorRMC.name)">{{ MCorRMC.data['isNotUpdated'] }}</button>
              </td>
              <td style="border: 1px solid black">
                <button type="submit" class="enter" (click)="submit('isVerified', MCorRMC.name)">{{ MCorRMC.data['isVerified'] }}</button>
              </td>
              <td style="border: 1px solid black">
                <button type="submit" class="enter" (click)="submit('isNotVerified', MCorRMC.name)">{{ MCorRMC.data['isNotVerified'] }}</button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>


    <span *ngIf="isLoading" class="chartloader"></span>

    
    
    <div *ngIf="showIsUpdatesTable" style="padding-bottom: 200px; text-align: center; padding-top: 40px;">
      <div class="dataentry">
        <div class="row">
          <div class="col-12">
            <h3>{{currentSubmitMCorRMCName}} UPDATED STATIONS DATA</h3>
          </div>
        </div>
        <br />
        <table style="margin: auto; border-collapse: collapse; width: 90%; border: 1px solid black;">
          <thead>
            <tr>
              <th 
                style="border: 1px solid black">S.NO <button style="font-size:15px; float: right;" (click)="sort(dataToDisplay, 'SNo')"> <i class="fa fa-sort"></i></button>
              </th>
              <th style="border: 1px solid black">District <button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'district')"> <i class="fa fa-sort"></i></button></th>
              <th style="border: 1px solid black">STATION NAME <button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'stationname')"> <i class="fa fa-sort"></i></button></th>
              <th style="border: 1px solid black">STATION ID <button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'stationid')"> <i class="fa fa-sort"></i></button></th>
              <th style="border: 1px solid black">RAINFALL<button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'rainfall')"> <i class="fa fa-sort"></i></button></th>
              <th style="border: 1px solid black">status <button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'status')"> <i class="fa fa-sort"></i></button></th>
            </tr>

          </thead>
          <tbody *ngIf="dataToDisplay && dataToDisplay.length > 0">
            <tr *ngFor="let station of dataToDisplay; let i = index">
              <td style="border: 1px solid black">
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.SNo }}</p>
              </td>
              <td style="border: 1px solid black">                
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.district }}</p>
              </td>
              <td style="border: 1px solid black">                
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.stationname }}</p>
              </td>
              <td style="border: 1px solid black">              
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.stationid }}</p>
              </td>


              <td style="border: 1px solid black">                
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.rainfall }}</p>
              </td>

              <td style="border: 1px solid black">                
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.status }}</p>
              </td>

              <!-- <td style="border: 1px solid black">
                <input type="number" id="rainfall" #rainFallElementRef name="rainfall" [(ngModel)]="station.rainfall" required style="border: none;" step="0.1" (input)="showMessage(rainFallElementRef)">
              </td> -->
              <!-- <td style="border: 1px solid black">
                <button [ngClass]="{'selectedOptionolor': station.isverified != 'null'}">Verified</button>
                <button [ngClass]="{'selectedOptionolor': station.isverified == 'null'}">Not Verified</button>
              </td> -->
              <!-- <td style="border: 1px solid black">{{station.isverified != 'null' ? (station.isverified | date: 'dd-MM-YYY hh:mm:ss') : ' '}}</td> -->
              <!-- <td style="border: 1px solid black">
                <button (click)="sendEmail()">Email</button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="showIsNotUpdatesTable" style="padding-bottom: 200px; text-align: center; padding-top: 40px;">
      <div class="dataentry">
        <div class="row">
          <div class="col-12">
            <h3>{{currentSubmitMCorRMCName}} NOT UPDATED STATIONS DATA</h3>
            <!-- <button type="submit" class="enter" (click)="updateTheRainFallData()"> Update Data </button> -->
          </div>
        </div>
        <br />
        <table style="margin: auto; border-collapse: collapse; width: 90%; border: 1px solid black;">
          <thead>
            <tr>
              <th 
                style="border: 1px solid black">S.NO <button style="font-size:15px; float: right;" (click)="sort(dataToDisplay, 'SNo')"> <i class="fa fa-sort"></i></button>
              </th>
              <th style="border: 1px solid black">STATE NAME <button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'statename')"> <i class="fa fa-sort"></i></button></th>
              <th style="border: 1px solid black">DISTRICT <button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'district')"> <i class="fa fa-sort"></i></button></th>
              <th style="border: 1px solid black">STATION NAME <button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'stationname')"> <i class="fa fa-sort"></i></button></th>
              <th style="border: 1px solid black">STATION ID <button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'stationid')"> <i class="fa fa-sort"></i></button></th>
              <th style="border: 1px solid black">RAINFALL<button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'rainfall')"> <i class="fa fa-sort"></i></button></th>
              <th style="border: 1px solid black">status <button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'status')"> <i class="fa fa-sort"></i></button></th>
            </tr>

          </thead>
          <tbody *ngIf="dataToDisplay && dataToDisplay.length > 0">
            <tr *ngFor="let station of dataToDisplay; let i = index">
              <td style="border: 1px solid black">
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.SNo }}</p>
              </td>
              <td style="border: 1px solid black">
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.statename }}</p>
              </td>
              <td style="border: 1px solid black">                
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.district }}</p>
              </td>
              <td style="border: 1px solid black">                
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.stationname }}</p>
              </td>
              <td style="border: 1px solid black">              
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.stationid }}</p>
              </td>

              <td style="border: 1px solid black">
                <input type="text" id="rainfall" #rainFallElementRef name="rainfall" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..?)\../g, '$1').replace(/(\.\d{1}).+/g, '$1');"  [(ngModel)]="station.rainfall"
                  required style="border: none;" step="0.1" (blur)="updateRainfallValueData(station.stationid, station.rainfall, station.SNo)" (keyup.enter)="rainFallElementRef.blur()" (input)="showMessage(rainFallElementRef)">
              </td>
              
              <!-- <td style="border: 1px solid black">
                <input type="number" id="rainfall" #rainFallElementRef name="rainfall" [(ngModel)]="station.rainfall" required style="border: none;" step="0.1" (input)="showMessage(rainFallElementRef)">
              </td> -->
              <!-- <td style="border: 1px solid black">                
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.rainfall }}</p>
              </td> -->
              <td style="border: 1px solid black">                
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.status }}</p>
              </td>

              <!-- <td style="border: 1px solid black">
                <input type="number" id="rainfall" #rainFallElementRef name="rainfall" [(ngModel)]="station.rainfall" required style="border: none;" step="0.1" (input)="showMessage(rainFallElementRef)">
              </td> -->
              <!-- <td style="border: 1px solid black">
                <button [ngClass]="{'selectedOptionolor': station.isverified != 'null'}">Verified</button>
                <button [ngClass]="{'selectedOptionolor': station.isverified == 'null'}">Not Verified</button>
              </td> -->
              <!-- <td style="border: 1px solid black">{{station.isverified != 'null' ? (station.isverified | date: 'dd-MM-YYY hh:mm:ss') : ' '}}</td> -->
              <!-- <td style="border: 1px solid black">
                <button (click)="sendEmail()">Email</button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <div *ngIf="showIsVerifiedTable" style="padding-bottom: 200px; text-align: center; padding-top: 40px;">
      <div class="dataentry">
        <div class="row">
          <div class="col-12">
            <h3>{{currentSubmitMCorRMCName}} VERIFIED STATIONS DATA</h3>
          </div>
        </div>
        <br />
        <table style="margin: auto; border-collapse: collapse; width: 90%; border: 1px solid black;">
          <thead>
            <tr>
              <th 
                style="border: 1px solid black">S.NO <button style="font-size:15px; float: right;" (click)="sort(dataToDisplay, 'SNo')"> <i class="fa fa-sort"></i></button>
              </th>
              <th style="border: 1px solid black">District <button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'district')"> <i class="fa fa-sort"></i></button></th>
              <th style="border: 1px solid black">STATION NAME <button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'stationname')"> <i class="fa fa-sort"></i></button></th>
              <th style="border: 1px solid black">STATION ID <button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'stationid')"> <i class="fa fa-sort"></i></button></th>
              <th style="border: 1px solid black">RAINFALL<button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'rainfall')"> <i class="fa fa-sort"></i></button></th>
              <th style="border: 1px solid black">VERIFIED DATETIME<button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'verifiedTime')"> <i class="fa fa-sort"></i></button></th>
              <th style="border: 1px solid black">status <button style="font-size:15px; float: right; " (click)="sort(dataToDisplay, 'status')"> <i class="fa fa-sort"></i></button></th>
            </tr>

          </thead>
          <tbody *ngIf="dataToDisplay && dataToDisplay.length > 0">
            <tr *ngFor="let station of dataToDisplay; let i = index">
              <td style="border: 1px solid black">
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.SNo }}</p>
              </td>
              <td style="border: 1px solid black">                
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.district }}</p>
              </td>
              <td style="border: 1px solid black">                
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.stationname }}</p>
              </td>
              <td style="border: 1px solid black">              
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.stationid }}</p>
              </td>
              <td style="border: 1px solid black">                
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.rainfall }}</p>
              </td>
              <td style="border: 1px solid black">                
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.verifiedTime }}</p>
              </td>
              <td style="border: 1px solid black">                
                <p style="font-weight: bold; text-align: center; margin-top: 10px;">{{ station.status }}</p>
              </td>

              <!-- <td style="border: 1px solid black">
                <input type="number" id="rainfall" #rainFallElementRef name="rainfall" [(ngModel)]="station.rainfall" required style="border: none;" step="0.1" (input)="showMessage(rainFallElementRef)">
              </td> -->
              <!-- <td style="border: 1px solid black">
                <button [ngClass]="{'selectedOptionolor': station.isverified != 'null'}">Verified</button>
                <button [ngClass]="{'selectedOptionolor': station.isverified == 'null'}">Not Verified</button>
              </td> -->
              <!-- <td style="border: 1px solid black">{{station.isverified != 'null' ? (station.isverified | date: 'dd-MM-YYY hh:mm:ss') : ' '}}</td> -->
              <!-- <td style="border: 1px solid black">
                <button (click)="sendEmail()">Email</button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="showIsNotVerifiedTable" style="padding-bottom: 200px; text-align: center; padding-top: 40px;">
      <div class="dataentry">
        <div class="row" style="display: flex; justify-content: space-between; align-items: center;">
          <div class="col-12">
            <h3>{{currentSubmitMCorRMCName}} NOT VERIFIED STATIONS DATA</h3>
            <button type="button" class="verifyALL" (click)="VerifySelected()">VERIFY SELECTED</button>
            <button type="button" class="verifyALL" (click)="Verifyall()">VERIFY ALL</button>
          </div>
        </div>
        <br />
        <table style="margin: auto; border-collapse: collapse; width: 90%; border: 1px solid black;">
          <thead>
            <tr>
              <th style="border: 1px solid black">Select</th>
              <th style="border: 1px solid black">S.NO</th>
              <th style="border: 1px solid black">District</th>
              <th style="border: 1px solid black">STATION NAME</th>
              <th style="border: 1px solid black">STATION ID</th>
              <th style="border: 1px solid black">RAINFALL</th>
              <th style="border: 1px solid black">STATUS</th>
              <!-- <th style="border: 1px solid black">DEVIATION STATUS</th> -->
            </tr>
          </thead>
          <tbody *ngIf="dataToDisplay && dataToDisplay.length > 0">
            <tr *ngFor="let station of dataToDisplay; let i = index">
              <td style="border: 1px solid black; text-align: center;">
                <input type="checkbox" [(ngModel)]="station.selected" (change)="toggleSelection(station)">
              </td>
              <td style="border: 1px solid black; text-align: center;">{{ station.SNo }}</td>
              <td style="border: 1px solid black; text-align: center;">{{ station.district }}</td>
              <td style="border: 1px solid black; text-align: center;">{{ station.stationname }}</td>
              <td style="border: 1px solid black; text-align: center;">{{ station.stationid }}</td>
              <td style="border: 1px solid black; text-align: center;">
                <input type="text" [(ngModel)]="station.rainfall" style="border: none;" required>
              </td>
              <td [ngStyle]="{'border': '1px solid black', 'color': station.status=='Not Verified' ? 'red' : 'blue'}">                
                <p style="font-weight: bold; text-align: center;">{{ station.status }}</p>
              </td>
              <!-- <td style="border: 1px solid black; text-align: center;">{{ station.devation_status }}</td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    

  </div>
</div>

</body>
    <!-- <div style="padding-bottom: 200px;" *ngIf="bottom_section" id="bottom" style="text-align: center; padding-top: 40px;">
      <div class="dataentry">
        <div class="row">
          <div class="col-12">
            <h3>STATIONS DATA</h3>
          </div>
        </div>
        <br />
        <table style="margin: auto; border-collapse: collapse; width: 90%; border: 1px solid black;">
          <thead>
            <tr>
              <th style="border: 1px solid black">S.NO</th>
              <th style="border: 1px solid black">District</th>
              <th style="border: 1px solid black">STATION NAME</th>
              <th style="border: 1px solid black">STATION ID</th>
              <th style="border: 1px solid black">RAINFALL</th>
              <th style="border: 1px solid black">Status</th>
              <th style="border: 1px solid black">Verified Date Time</th>
              <th style="border: 1px solid black">Email</th>

            </tr>
          </thead>
          <tbody *ngIf="filteredStations && filteredStations.length > 0">
            <tr *ngFor="let station of filteredStations; let i = index">
              <td style="border: 1px solid black">{{ i + 1 }}</td>
              <td style="border: 1px solid black">{{ station.stationname }}</td>
              <td style="border: 1px solid black">{{ station.stationid }}</td>
              <td style="border: 1px solid black">
                <input type="number" id="rainfall" #rainFallElementRef name="rainfall" [(ngModel)]="station.RainFall" required style="border: none;" step="0.1" (input)="showMessage(rainFallElementRef)">
              </td>
              <td style="border: 1px solid black">
                <button [ngClass]="{'selectedOptionolor': station.isverified != 'null'}">Verified</button>
                <button [ngClass]="{'selectedOptionolor': station.isverified == 'null'}">Not Verified</button>
              </td>
              <td style="border: 1px solid black">{{station.isverified != 'null' ? (station.isverified | date: 'dd-MM-YYY hh:mm:ss') : ' '}}</td>
              <td style="border: 1px solid black">
                <button (click)="sendEmail()">Email</button>
              </td>
              <td style="border: 1px solid black">
                <button value="AWS" [ngClass]="{'selectedOptionolor': station.stationtype === 'aws'}">AWS</button>
                <button value="ORG" [ngClass]="{'selectedOptionolor': station.stationtype === 'org'}">ORG</button>
                <button value="ARG" [ngClass]="{'selectedOptionolor': station.stationtype === 'arg'}">ARG</button>
              </td>
              <td style="border: 1px solid black">
                <button [ngClass]="{'selectedOptionolor': station.neworold === 'old'}">OLD</button>
                <button [ngClass]="{'selectedOptionolor': station.neworold === 'new'}">NEW</button>
              </td>
              <td style="border: 1px solid black">{{station.lat}}</td>
              <td style="border: 1px solid black">{{station.lng}}</td>
              <td style="border: 1px solid black">{{station.activationdate | date: 'dd-MM-yyyy'}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div> -->
       
    



<!-- <div style="padding-bottom: 200px;"></div> Add this div to provide extra space at the bottom -->



































