# Node modules
node_modules/

# Build output
dist/
build/
static/
angular/


# Environment variables
.env

# Logs
*.log

# IDE files
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db


# .angular
.angular


