<div class="wholebody">
  <app-header></app-header>
  <div class="sidebar">
    <a [ngClass]="{'active': isSelected('station-log')}" (click)="selectMenuItem('station-log')" routerLink="station-log">Station Log</a>
    <a [ngClass]="{'active': isSelected('reports-log')}" (click)="selectMenuItem('reports-log')" routerLink="reports-log">Reports Log</a>
    <a [ngClass]="{'active': isSelected('officers-action')}" (click)="selectMenuItem('action-log')" routerLink="action-log">Action Log</a>
  </div>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  
</div>