<!-- <div class="main-body">

  <div class="dashboard-container">

    <div class="navbar-row">
      <app-map-nav-bar 
        [showComparison]="showComparison" 
        [maxDate]="maxDate" 
        [lastActiveLayer]="lastActiveLayer"
        (layerSelected)="onLayerSelected($event)" 
        (toggleComparison)="onToggleComparison()"
        (filterChange)="onFilterChange($event)" 
        (resetMap)="onResetMapView()">
      </app-map-nav-bar>
    </div>

    <ng-container *ngIf="showComparison; else mainContent">
      <div class="comparison-row">

        <app-comparison 
          #comparisonComp 
          [showComparison]="showComparison" 
          [startDate]="startDate || maxDate"
          [endDate]="endDate || maxDate" 
          [isActual]="isActual" 
          (closePopup)="onClosePopup()">
        </app-comparison>

      </div>
    </ng-container>

    <ng-template #mainContent>
      <div class="content-row">
        <div class="map-column">
          <app-map-dashboardcontainer [selectedLayer]="selectedLayer"></app-map-dashboardcontainer>
        </div>

        <div class="charts-column">
          <app-map-charts></app-map-charts>
        </div>
      </div>
    </ng-template>

  </div>
</div> -->


<!-- 
<div class="main-body">
  <div class="dashboard-container">
    <div class="navbar-row">
      <app-map-nav-bar 
        #mapNavBar
        [showComparison]="showComparison" 
        [maxDate]="maxDate" 
        [lastActiveLayer]="lastActiveLayer"
        (layerSelected)="onLayerSelected($event)" 
        (toggleComparison)="onToggleComparison()"
        (filterChange)="onFilterChange($event)" 
        (resetMap)="onResetMapView()"
        (filterSettingsChange)="onFilterSettingsChange($event)">
      </app-map-nav-bar>
    </div>

    <ng-container *ngIf="showComparison; else mainContent">
      <div class="comparison-row">
        <app-comparison 
          #comparisonComp 
          [showComparison]="showComparison" 
          [startDate]="startDate || maxDate"
          [endDate]="endDate || maxDate" 
          [isActual]="isActual" 
          [selectedLevels]="selectedLevels"
          [mode]="mode"
          (closePopup)="onClosePopup()">
        </app-comparison>
      </div>
    </ng-container>

    <ng-template #mainContent>
      <div class="content-row">
        <div class="map-column">
          <app-map-dashboardcontainer [selectedLayer]="selectedLayer"></app-map-dashboardcontainer>
        </div>
        <div class="charts-column">
          <app-map-charts></app-map-charts>
        </div>
      </div>
    </ng-template>
  </div>
</div> -->



<div class="main-body">
  <div class="dashboard-container">
    <div class="navbar-row">
      <app-map-nav-bar 
        #mapNavBar
        [showComparison]="showComparison" 
        [maxDate]="maxDate" 
        [lastActiveLayer]="lastActiveLayer"
        (layerSelected)="onLayerSelected($event)" 
        (toggleComparison)="onToggleComparison()"
        (filterChange)="onFilterChange($event)" 
        (resetMap)="onResetMapView()"
        (filterSettingsChange)="onFilterSettingsChange($event)">
      </app-map-nav-bar>
    </div>

    <ng-container *ngIf="showComparison; else mainContent">
      <div class="comparison-row">
        <app-comparison 
          #comparisonComp 
          [showComparison]="showComparison" 
          [startDate]="startDate || maxDate"
          [endDate]="endDate || maxDate" 
          [isActual]="isActual" 
          [selectedLevels]="selectedLevels"
          [mode]="mode"
          (closePopup)="onClosePopup()">
        </app-comparison>
      </div>
    </ng-container>

    <ng-template #mainContent>
      <div class="content-row">
        <div class="map-column">
          <app-map-dashboardcontainer 
            [selectedLayer]="selectedLayer"
            [startDate]="startDate || maxDate"
            [endDate]="endDate || maxDate"
            [isActual]="isActual"
            [maxDate]="maxDate">
          </app-map-dashboardcontainer>
        </div>
        <div class="charts-column">
          <app-map-charts></app-map-charts>
        </div>
      </div>
    </ng-template>
  </div>
</div>