<div class="container my-5">
    <h3 class="text-center">Contacts: Hydromet Division</h3>
    <ul class="list-group mb-4 text-center">
      <li class="list-group-item">
        <strong class="fs-4">Shri B P Yadav, Sc. 'F' & Head (Hydromet Division)</strong><br>
        E-mail: <a href="mailto:imdbpyadav&#64;gmail.com">imdbpyadav&#64;gmail.com</a><br>
        Phone: 011-43824223
      </li>
      <li class="list-group-item">
        <strong class="fs-4">Dr. Ashok Kumar Das, Scientist ‘E’</strong><br>
        E-mail: <a href="mailto:dasakimd&#64;gmail.com">dasakimd&#64;gmail.com</a><br>
        Phone: 011-43824460
      </li>
      <li class="list-group-item">
        <strong class="fs-4">Shri S K Manik, Scientist ‘B’</strong><br>
        E-mail: <a href="mailto:swapanmanik&#64;gmail.com">swapanmanik&#64;gmail.com</a><br>
        Phone: 011-43824469
      </li>
    </ul>
  </div>