<!-- <br> -->
<!-- <div class="d-flex justify-content-center flex-wrap">
    <select (change)="onSelectChange($event)">
        <option *ngFor="let key of listOfmsRMCs" [value]="key">{{ key }}</option>
    </select>
</div>


<br> -->
<div class="container">
  
    <div class="row">
      <div class="col-12" id="mapdiv1-ftp_actual">
        <div class="map-container">
          <div class="map-frame d-flex align-items-center justify-content-center">
            <div
              id="map-district-actual"
              class="text-center shadow-sm bg-white"
              style="width: 44rem; height: 58.8rem; padding: 1rem"
            >

            <div
            style="
              border: 2px solid black;
              width: 100%;
              height: 100%;
              padding: 2em;
            "
            id="border-remove-subdivisionRainfallMap"
          >
            
            <div id="loader" class="loader" *ngIf="isLoading">
              <div class="loading-message">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i> Downloading...
              </div>
            </div>
  
  
              <div class="d-flex w-100">
                <div class="text-center ms-2" style="width: 15%;">
                  <img id="logoImage-district" src="/assets/images/IMDlogo_Ipart-iris.png" alt="" />
                  <div *ngIf="!isFullscreen()" class="download-buttons">
                    <div id="all-btn-district" class="d-flex flex-column mt-3">
                      <button mat-button class="mode-button mb-2" (click)="downloadMapImage(false)">
                          Map Download
                      </button>
                      <button mat-button class="mode-button mb-2" (click)="downloadMappdf()">
                          Map Pdf Download
                      </button>
                      <button mat-button class="mode-button mb-2" (click)="downloadMapData()">
                          Statistics Download
                      </button>
                      <button mat-button class="mode-button mb-2 custom-z-index" (click)="resetMapSmallScreen()">
                        Reset Position
                    </button>
                  </div>
                  </div>
                </div>
  
                <div id="middle-header-district" class="text-center pt-3" style="width: 72%;">
                  <div class="d-flex flex-column align-items-center ps-4">
                    <div>
                      <label class="text-black fw-bold" style="font-family: Arial; font-size: 12px;">
                        INDIA METEOROLOGICAL DEPARTMENT, NEW DELHI
                      </label>
                    </div>
                    <div>
                      <label
                        *ngIf="!StartDate && !EndDate"
                        class="text-black fw-bold"
                        style="font-family: Arial; font-size: 14px;"
                      >
                        Date : {{ formatteddate }}
                      </label>
                      <label
                        *ngIf="
                          StartDate &&
                          EndDate &&
                          StartDate != EndDate
                        "
                        class="text-black fw-bold"
                        style="font-family: Arial; font-size: 14px;"
                      >
                        Date :
                        {{ StartDate }} to
                        {{ EndDate  }}
                      </label>
                      <label
                        *ngIf="
                          StartDate &&
                          StartDate == EndDate
                        "
                        class="text-black fw-bold"
                        style="font-family: Arial; font-size: 14px;"
                      >
                        Date : {{ StartDate}}
                      </label>
                    </div>
                    <div>
                      <label class="text-black fw-bold" style="font-family: Arial; font-size: 14px;">
                        {{displayMcName}} DISTRICT WISE RAINFALL MAP (mm)
                      </label>
                    </div>
                  </div>
                </div>
  
                <div *ngIf="isFullscreen()" id="resetButton" class="ResetMap text-center" style="width: 72%;">
                  <button mat-button class="mode-button w-25" (click)="resetMap()">
                    Reset Position
                </button>
              </div>
  
                
                <div>
                  <div id="celebrations-district" class="text-center mt-3 ms-1">
                    <img class="logo" src="assets/images/IMD150(BGR).png" alt="" />
                  </div>     
      
                  <img
                  class="mt-5 ms-1 img-fluid small-img"
                  style="width: 100px; height: 100px;"
                  src="../../assets/images/—Pngtree—compass_6028609.png"
                  alt=""
                  id="compassArrow-district"
                  />
                </div>
  
                <!-- <div>
                  <div id="country_values-district" *ngIf="isFullscreen()" class="text-center mt-3 ms-1">
                    <p style="text-align: center; font-weight: bold; font-size: xx-large; color: #FF9933;"> India </p>
                    <table style="border: 1px solid black; border-collapse: collapse; width: 10px;">
                      <tr>
                        <th style="border: 2px solid black; background-color: #FF9933;">Actual (mm)</th>
                        <th style="border: 2px solid black; background-color: white;">Normal (mm)</th>
                        <th style="border: 2px solid black;background-color: #138808;">Departure (%)</th>
                      </tr>
                      <tr>
                        <td style="border: 2px solid black; color: #000080; ">{{countryActual==-999 || countryActual==null ? 'No Data' : countryActual}}</td>
                        <td style="border: 2px solid black; color: #000080;">{{countryNormal==-999 || countryNormal==null ? 'No Data' : countryNormal}}</td>
                        <td style="border: 2px solid black; color: #000080;">{{countryDeparture==-999 || countryDeparture==null ?'No Data' : countryDeparture}}</td>
                      </tr>
                    </table>
                
                  </div>
                
                </div> -->
  
              <!-- <div>
                <div id="additional_table" *ngIf="!isFullscreen()" class="position-absolute" style="bottom: 15%; left: 2%;">
                  <p style="color: black;" class="fs-4">India</p>
                    <table class="table table-bordered table-sm" style="width: auto;">
                      <thead class="thead-light">
                        <tr>
                          <th style="font-size: xx-small; border: 2px solid black; background-color: #FF9933;">Actual</th>
                          <th style="font-size: xx-small; border: 2px solid black; background-color: white;">Normal</th>
                          <th style="font-size: xx-small; border: 2px solid black; background-color: green;">Departure</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td style="font-size: xx-small; border: 2px solid black; color: #000080;">{{countryActual==-999 || countryActual==null ? 'null' : countryActual}}</td>
                          <td style="font-size: xx-small; border: 2px solid black; color: #000080;">{{countryNormal==-999 || countryNormal==null ? 'null' : countryNormal}}</td>
                          <td style="font-size: xx-small; border: 2px solid black; color: #000080;">{{countryDeparture==-999 || countryDeparture==null ? 'null' : countryDeparture}}</td>
                        </tr>
                      </tbody>
                    </table>
                
                </div>      
              </div> -->
       
              </div>
  
              <div class="leaflet-bottom" id="leaflet-bottom-district">
                <div
                class="info_legend leaflet-control justify-content-center d-flex align-items-center flex-wrap mb-5"
                id="legends-district"
                  style="width: auto; height: 30px;"
                >
                  <div
                    *ngFor="let item of legendItems"
                    class="d-flex align-items-center me-3"
                  >
                    <div
                      [style.background-color]="item.color"
                      class="d-inline-block"
                      style="width: 11px; height: 11px;"
                    ></div>
                    <div
                      [style.font-size]="item.fontSize"
                      class="text-black fw-bold mx-2"
                    >
                    <span [innerHTML]="item.text"></span>
                    <!-- {{ item.text }} -->
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
  