<app-header></app-header>

  
  <div class="sidebar">
    <a [ngClass]="{'active': isSelected('send-email')}" (click)="selectMenuItem('send-email')" routerLink="new-send-email">Send Email</a>
    <!-- <a [ngClass]="{'active': isSelected('auto-email')}" (click)="selectMenuItem('auto-email')" routerLink="auto-email">Auto Email</a> -->
    <a [ngClass]="{'active': isSelected('defined-email')}" (click)="selectMenuItem('defined-email')" routerLink="new-defined-email">Email Group</a>
    <a [ngClass]="{'active': isSelected('email-log')}" (click)="selectMenuItem('email-log')" routerLink="new-email-log">Email Log</a>
  </div>
  
  <div class="content">
    <router-outlet></router-outlet>
  </div>