<div class="container">
  <div class="row">
    <div class="col-12" id="mapdiv3">
      <div class="map-container">
        <div class="map-frame">
          <div
            id="map-subdivision"
            class="text-center shadow-sm bg-white"
            style="width: 44rem; height: 58.8rem; padding: 1rem"
          >
            <div
              style="
                border: 2px solid black;
                width: 100%;
                height: 100%;
                padding: 2em;
              "
              id="border-remove-subdiv"
            >
              <div id="loader" class="loader" *ngIf="isLoading">
                <div class="loading-message">
                  <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                  Downloading...
                </div>
              </div>

              <div class="d-flex w-100">
                <div class="text-center ms-2" style="width: 15%">
                  <img
                    id="logoImage2"
                    class=""
                    src="/assets/images/IMDlogo_Ipart-iris.png"
                    alt=""
                  />
                  <div *ngIf="!isFullscreen()" class="download-buttons">
                    <div id="all-btn-subdiv" class="d-flex flex-column mt-3">
                      <button
                        mat-button
                        class="mode-button mb-2"
                        (click)="downloadMapImage(false)"
                      >
                        Map Download
                      </button>
                      <button
                        mat-button
                        class="mode-button mb-2"
                        (click)="downloadMappdf()"
                      >
                        Map Pdf Download
                      </button>
                      <!-- <button
                        mat-button
                        class="mode-button mb-2 custom-z-index"
                        (click)="resetMapSmallScreen()"
                      >
                        Reset Position
                      </button> -->
                    </div>
                  </div>
                </div>
                <div
                  id="middle-header-subdiv"
                  class="text-center pt-1"
                  style="width: 72%"
                >
                  <div class="d-flex flex-column align-items-center ps-2">
                    <div>
                      <label
                        class="text-black fw-bold"
                        style="
                          font-family: Arial;
                          font-size: 12px;
                          display: block;
                        "
                      >
                        भारत मौसम विज्ञान विभाग
                      </label>
                      <label
                        class="text-black fw-bold"
                        style="
                          font-family: Arial;
                          font-size: 12px;
                          display: block;
                        "
                      >
                        INDIA METEOROLOGICAL DEPARTMENT, NEW DELHI
                      </label>
                      <label
                        class="text-black fw-bold"
                        style="
                          font-family: Arial;
                          font-size: 12px;
                          display: block;
                        "
                      >
                        जल मौसम विज्ञान प्रभाग, नई दिल्ली
                      </label>
                      <label
                        class="text-black fw-bold"
                        style="
                          font-family: Arial;
                          font-size: 12px;
                          display: block;
                        "
                      >
                        Hydromet Division, New Delhi
                      </label>
                    </div>

                    <div>
                      <!-- <label
                        class="text-black fw-bold"
                        style="font-family: Arial; font-size: 14px"
                      >
                        Date : {{ formatDate(startDate) | date : "dd-MM-yyyy" }}
                      </label>
                      <label
                        *ngIf="endDate && startDate !== endDate"
                        class="text-black fw-bold ms-2"
                        style="font-family: Arial; font-size: 14px"
                      >
                        to {{ formatDate(endDate) | date : "dd-MM-yyyy" }}
                      </label> -->
                      <label
                        class="text-black fw-bold"
                        style="font-family: Arial; font-size: 14px"
                      >
                        Date : {{ startDate | date : "dd-MM-yyyy" }}
                      </label>
                      <label
                        *ngIf="endDate && startDate !== endDate"
                        class="text-black fw-bold ms-2"
                        style="font-family: Arial; font-size: 14px"
                      >
                        to {{ endDate | date : "dd-MM-yyyy" }}
                      </label>
                    </div>

                    <div>
                      <label
                        class="text-black fw-bold"
                        style="font-family: Arial; font-size: 14px"
                      >
                        {{ mapType.toUpperCase() }} SPATIAL MAP
                      </label>
                    </div>
                  </div>
                </div>

                <div
                  *ngIf="isFullscreen()"
                  id="resetButton"
                  class="ResetMap text-center"
                  style="width: 72%"
                >
                  <button
                    mat-button
                    class="mode-button w-25"
                    (click)="resetMap()"
                  >
                    Reset Position
                  </button>
                </div>

                <div>
                  <div id="celebrations-subdiv" class="text-center mt-3 ms-1">
                    <img
                      class="logo"
                      src="assets/images/IMD150(BGR).png"
                      alt=""
                    />
                  </div>

                  <div>
                    <img
                      class="mt-5 ms-1 img-fluid small-img"
                      style="width: 100px; height: 100px"
                      src="../../assets/images/—Pngtree—compass_6028609.png"
                      alt=""
                      id="compassArrow-subdiv"
                    />
                  </div>
                </div>
              </div>
              <div class="leaflet-bottom" id="leaflet-bottom-subdiv">
                <div
                  class="info_legend leaflet-control d-flex justify-content-center align-items-center flex-wrap gap-2 mb-5"
                  id="legends-subdiv"
                  style="width: auto; height: 30px; padding-top: 14px"
                >
                  <div
                    *ngFor="let item of legendItems"
                    class="d-flex align-items-center me-3"
                  >
                    <div
                      [style.background-color]="item.color"
                      class="d-inline-block border-1 border-black"
                      style="width: 19px; height: 19px"
                    ></div>
                    <div class="text-black fw-bold mx-2">
                      <div
                        class="text-size"
                        [innerHTML]="item.text"
                        [style.fontSize]="item.fontSize"
                      ></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
