
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~leaflet/dist/leaflet.css";

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: auto;
}

* {
  /* font-family: "Jost", sans-serif; */
  font-family: "Mukta Malar", sans-serif;
  font-optical-sizing: auto;
  box-sizing: border-box;
}

.p-multiselect {
  width: 250px;
}
.leaflet-right{
  display: none !important;
}

ol, ul {
    padding-left: 0rem;
}